{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">{{myfooter.name}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link" style=color:orange>{% translate "Home" %}</a></li>
          <li class="nav-item"><a href="{% url 'about:about' %}" class="nav-link"
              style=color:orange>{% translate "About" %}</a></li>
          <li class="nav-item" style=color:orange><a href="{% url 'settings:contact' %}" class="nav-link" style=color:orange>{% translate "Contact Us" %}</a></li>
          <li class="nav-item"><a href="{% url 'settings:dashboard' %}" class="nav-link" style=color:orange
              style=color:orange>{% translate "Dashboard" %}</a></li>
          <li class="nav-item"><a href="{% url 'blog:post_list' %}" class="nav-link" style=color:orange>{% translate "Blog"  %}</a></li>
          <form action="{% url 'set_language' %}" method="post" class="language-form">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                  {% if language.code == LANGUAGE_CODE %}
                    {{ language.name_local }} ({{ language.code }})
                  {% endif %}
                {% endfor %}
              </button>
              <div class="dropdown-menu" aria-labelledby="languageDropdown">
                {% for language in languages %}
                  <button class="dropdown-item" type="submit" name="language" value="{{ language.code }}">
                    {{ language.name_local }} ({{ language.code }})
                  </button>
                {% endfor %}
              </div>
            </div>
          </form>

        </ul>
      </div>
    </div>
  </nav>
 <div class="c" style="background-image: url({% static 'images/bg_3.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
            data-scrollax-parent="true">
            <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
                        class="mr-2"><a href="/">{% translate "Home" %}</a></span> <span>{% translate "Blog" %}</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{% translate "Tips" %}Tips &amp;
                    {% translate "Articles" %}  </h1>
            </div>
        </div>
    </div>
 </div>


 <section class="ftco-section bg-light">
    <div class="container">
        <div class="row d-flex">
            {% for post in object_list %}
             <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="{{post.get_absolute_url}}" class="block-20" style="background-image: url({{post.images.url}});">
                    </a>
                    <div class="text p-4 d-block">
                        <span class="tag">{% translate "Tips" %},{% translate "Travel" %} </span>
                        <h3 class="heading mt-3"><a href="{{post.get_absolute_url}}">{{post}}</a>
                        </h3>
                        <div class="meta mb-3">
                            <div><a href="#"><{{post.created_at|date:'F j Y'}}></a></div>
                            <div><a href="#">{{post.author}}</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                    </div>
                </div>
             </div>

            {% endfor %}
        </div>
        {% if is_paginated %}


        <div class="row mt-5">
           <div class="col text-center">
               <div class="block-27">
                   <ul>

                       {% if page_obj.has_previous %}
                             <li><a href="?page={{page_obj.previous_page_number}}">&lt;</a></li>
                       {% else %}
                         <li class="disabled"><span>&lt;</span></a></li>
                       {% endif %}
                       {% for i in paginator.page_range %}

                        {% if page_obj.number == i %}
                         <li class="active"><span>{{i}}</span></li>
                        {% else %}
                          <li><a href="?page={{i}}">{{i}}</a></li>
                        {% endif %}
                       {% endfor %}
                       {% if page_obj.has_next %}
                             <li><a href="?page={{page_obj.next_page_number}}">&lt;</a></li>
                       {% else %}
                         <li class="disabled"><span>&lt;</span></a></li>
                       {% endif %}
                   </ul>
               </div>
           </div>
         </div>

       {% endif %}
    </div>
 </section>


{% endblock body %}
